.form-container input, .form-container textarea{
    padding:10px;
    margin-bottom:10px;
    border:1px solid lightgray;
    border-radius:5px;
}
.form-container input:focus,.form-container textarea:focus{
    outline:1px solid #fa0778;
}
.form-container input[type="submit"]{
    background:#fa0778;
    color:white;
    font-weight:bold;
    cursor:pointer;
}
